<!-- container -->
        <div class="container">

            <header>
                <div class="row page-bg header" style="position: relative;">
                    <div class="span4" >
                        <img src="<%= image_path('ig/logo-gabi.png') %>" class="logo" />
                    </div>
                    <div class="span8 paper-bg paper-block">
                        <div class="header-content">
                            <div class="row">
                                <div class="span5">
                                    <span>Faça sua doação agora:</span>
                                    <img src="<%= image_path('ig/lg-pag-seguro.png') %>" class="pag-seguro"/>
                                </div>
                                <div class="span2">
                                    <h3>#ajudegabi</h3>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="span8">
                                    <form>
                                        <span>Busca:</span> <input type="text" class="input-small" />
                                        <img src="<%= image_path('ig/icn-search.png') %>" class="social-icons" />
                                        <span style="margin-left: 30px;">Espalhe essa causa:</span>
                                        <img src="<%= image_path('ig/icn-facebook.png') %>" class="social-icons" />
                                        <img src="<%= image_path('ig/icn-twitter.png') %>" class="social-icons" />
                                        <img src="<%= image_path('ig/icn-linkedin.png') %>" class="social-icons" />
                                        <img src="<%= image_path('ig/icn-feed.png') %>" class="social-icons" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <nav>
                <div class="row page-bg" style="height: 62px;">
                    <div class="span12 menu">
                        <ul>
                            <li class="first"></li>
                            <li class="instituto"><a href="#">Instituto Gabi</a></li>
                            <li class="separator"></li>
                            <li class="atividades"><a href="#">Atividades</a></li>
                            <li class="separator"></li>
                            <li class="ajudar"><a href="#">Como Ajudar</a></li>
                            <li class="separator"></li>
                            <li class="noticias"><a href="#">Notcias</a></li>
                            <li class="separator"></li>
                            <li class="fotos"><a href="#">Fotos</a></li>
                            <li class="separator"></li>
                            <li class="contato"><a href="#">Contato</a></li>
                            <li class="last-separator"></li>
                            <li class="last"></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="row page-bg" >
               <div id="myCarousel" class="carousel span11">
                 <!-- Carousel items -->
                 <div class="carousel-inner">
                   <div class="item active">
                     <img src="<%= image_path('ig/bn-home-img-1.jpg') %>" />
                    <div class="carousel-caption">
                      <p>
                        O Instituto Gabi atende 70 crianças e adolescentes com deficiência e de baixa renda.É um projeto compartilhado 
                        por pessoas e empresas solidárias que acreditam no trabalho competente da equipe de profissionais que atuam na organização.
                      </p>
                    </div>
                  </div>
                  <div class="item"><img src="<%= image_path('ig/bn-home-img-1.jpg') %>" title="#htmlcaption"/></div>
                  <div class="item"><img src="<%= image_path('ig/bn-home-img-1.jpg') %>" title="#htmlcaption"/></div>
                  <div class="item"><img src="<%= image_path('ig/bn-home-img-1.jpg') %>" title="#htmlcaption"/></div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
              </div>
            </div>

            <div class="row page-bg">
              <div class="span5">
                  <div class="stick-bg stick-note">
                      <h4>Ajude a construir a Casa Gabi</h4>
                      <p>
                          Além das 70 crianças e adolescentes com deficiência que recebem o atendimento no Instituto Gabi, há uma longa lista de espera 
                          de famílias que aguardam uma vaga.
                      </p>
                      <p>
                          Ajude o adquirir a sede própria e acolher estas famílias que precisam de atendimento. É a oportunidade de agregar a imagem da 
                          sua empresa a um projeto social de qualidade e ter sua contribuição deduzida no imposto de renda.
                      </p>
                      <p>
                          Entre em contato conosco e veja outras formas de apoio.
                      </p>
                  </div>
              </div>
              <div class="span7">
                  <h3 class="gabi">Inclusão Social de pessoas com Deficiência.</h3>
                  <p>
                      O Instituto Gabi está comemorando uma década de inclusão social de crianças e adolescentes com deficiência de baixa renda. 
                      Centenas de pessoas foram atendidas.
                  </p>
                  <p>
                      Atualmente, o Instituto Gabi é referência no atendimento à pessoas com deficiência. O poder público, a mídia e a comunidade 
                      reconhecem o trabalho sério e competente desenvolvido pela equipe de funcionários e de voluntários.
                  </p>
                  <p>
                      Você também pode ajudar estas pessoas. Abrace esta causa.</p>
                  <p>
                      Veja algumas formas:
                  </p>
                  <ul>
                      <li>Ser voluntário presencial e online</li>
                      <li>Contribuir com dedução do imposto de renda</li>
                      <li>Doar crédito da nota fiscal e/ou doar as notas sem CPF</li>
                      <li>Oferecer doações para a manutenção da casa e para o bazar social</li>
                  </ul>
              </div>
            </div>

            <div class="row page-bg">
              <div class="news-wrapper">
                <% @news.each do |new| %>
                <div class="span4 news">
                    <div class="top trap-bg"></div>
                    <h4><%= new.title %></h4>
                    <%= smart_truncate(new.post, words: 55).html_safe %>
                </div>
                <% end %>
                <div style="clear: both;"></div>
              </div>
            </div>

            <div class="row footer footer-bg">
              <div class="footer-wrapper">
                <div class="span2">
                  <h4>Instituto Gabi</h4>
                  <ul>
                      <li>Quem somos</li>
                      <li>Atividades</li>
                      <li>Como Ajudar</li>
                      <li>Noticias</li>
                      <li>Fotos</li>
                      <li>Contato</li>
                  </ul>
                </div>
                <% unless @partner.nil? %>
                <div class="span4">
                  <h4>Parceiros</h4>
                  <div class="box-parceiro-small">
                    <%= image_tag "../" + @partner.path_first_image %>
                    <h4><%= @partner.name %></h4>
                    <%= @partner.short_description.html_safe %>
                  </div>
                </div>
                <% end %>
                <div class="span2">
                  <h4>Twitter</h4>
                  Último Tweet
                  “Gabi está comemorando uma década de inclusão social de crianças e
                </div>
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "https://connect.facebook.net/pt_BR/all.js#xfbml=1&appId=120323441406882";
                  fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
                </script>
                <div class="span4">
                  <fb:like-box href="https://www.facebook.com/InstitutoGabi" width="292" colorscheme="dark" show_faces="true" border_color="#1e5687" stream="false" header="false" logobar="0" css="/assests/static_pages.css"></fb:like-box>
                </div>
              </div>
            </div>
        </div>
        <!-- container -->

