<!-- container -->
        <div class="container">

            <header>
                <div class="row page-bg header" style="position: relative;">
                    <div class="span4" >
                        <img src="<%= image_path('ig/logo-gabi.png') %>" class="logo" />
                    </div>
                    <div class="span8 paper-bg paper-block">
                        <div class="header-content">
                            <div class="row">
                                <div class="span5">
                                    <span>Faça sua doação agora:</span>
                                    <img src="<%= image_path('ig/lg-pag-seguro.png') %>" class="pag-seguro"/>
                                </div>
                                <div class="span2">
                                    <h3>#ajudegabi</h3>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="span8">
                                    <form>
                                        <span>Busca:</span> <input type="text" class="input-small" />
                                        <img src="<%= image_path('ig/icn-search.png') %>" class="social-icons" />
                                        <span style="margin-left: 30px;">Espalhe essa causa:</span>
                                        <img src="<%= image_path('ig/icn-facebook.png') %>" class="social-icons" />
                                        <img src="<%= image_path('ig/icn-twitter.png') %>" class="social-icons" />
                                        <img src="<%= image_path('ig/icn-linkedin.png') %>" class="social-icons" />
                                        <img src="<%= image_path('ig/icn-feed.png') %>" class="social-icons" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <nav>
                <div class="row page-bg" style="height: 62px;">
                    <div class="span12 menu">
                        <ul>
                            <li class="first"></li>
                            <li class="instituto"><a href="#">Instituto Gabi</a></li>
                            <li class="separator"></li>
                            <li class="atividades"><a href="#">Atividades</a></li>
                            <li class="separator"></li>
                            <li class="ajudar"><a href="#">Como Ajudar</a></li>
                            <li class="separator"></li>
                            <li class="noticias"><a href="#">Notcias</a></li>
                            <li class="separator"></li>
                            <li class="fotos"><a href="#">Fotos</a></li>
                            <li class="separator"></li>
                            <li class="contato"><a href="#">Contato</a></li>
                            <li class="last-separator"></li>
                            <li class="last"></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="row page-bg" style="position: relative;">
                <div class="span12 slider-wrapper theme-default" style="position: absolute;">
                    <div id="slider" class="nivoSlider">
                        <img src="<%= image_path('ig/bn-home-img-1.jpg') %>" title="#htmlcaption"/>
                    </div>
                    <div id="htmlcaption" class="nivo-html-caption">
                        o Instituto Gabi atende 70 crianças e adolescentes com deficiência e de baixa renda.É um projeto compartilhado por pessoas e empresas 
                        solidárias que acreditam no trabalho competente da equipe de profissionais que atuam na organização.
                    </div>
                </div>
            </div>

            <div class="row page-bg">
                <div class="eleven columns centered">
                    <div class="twelve columns">
                        <div class="five columns">
                            <div class="stick-bg stick-note">
                                <h4>Ajude a construir a Casa Gabi</h4>
                                <p>
                                    Além das 70 crianças e adolescentes com deficiência que recebem o atendimento no Instituto Gabi, há uma longa lista de espera 
                                    de famílias que aguardam uma vaga.
                                </p>
                                <p>
                                    Ajude o adquirir a sede própria e acolher estas famílias que precisam de atendimento. É a oportunidade de agregar a imagem da 
                                    sua empresa a um projeto social de qualidade e ter sua contribuição deduzida no imposto de renda.
                                </p>
                                <p>
                                    Entre em contato conosco e veja outras formas de apoio.
                                </p>
                            </div>
                        </div>
                        <div class="seven columns">
                            <h3 class="gabi">Inclusão Social de pessoas com Deficiência.</h3>
                            <p>
                                O Instituto Gabi está comemorando uma década de inclusão social de crianças e adolescentes com deficiência de baixa renda. 
                                Centenas de pessoas foram atendidas.
                            </p>
                            <p>
                                Atualmente, o Instituto Gabi é referência no atendimento à pessoas com deficiência. O poder público, a mídia e a comunidade 
                                reconhecem o trabalho sério e competente desenvolvido pela equipe de funcionários e de voluntários.
                            </p>
                            <p>
                                Você também pode ajudar estas pessoas. Abrace esta causa.</p>
                            <p>
                                Veja algumas formas:
                            </p>
                            <ul>
                                <li>Ser voluntário presencial e online</li>
                                <li>Contribuir com dedução do imposto de renda</li>
                                <li>Doar crédito da nota fiscal e/ou doar as notas sem CPF</li>
                                <li>Oferecer doações para a manutenção da casa e para o bazar social</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row page-bg">
                <div class="eleven columns centered">
                    <div class="twelve columns news-wrapper">
                        <div class="four columns news">
                            <div class="top trap-bg"></div>
                            <h4>Notícia 01</h4>
                            <p>
                                O Instituto Gabi está comemorando uma década de inclusão social de crianças e adolescentes com deficiência de baixa renda. Centenas de pessoas foram atendidas.
                                Atualmente, o Instituto Gabi é referência no atendimento à pessoas com deficiência. O poder público, a 
                            </p>
                        </div>
                        <div class="four columns news">
                            <div class="top trap-bg"></div>
                            <h4>Notícia 01</h4>
                            <p>
                                O Instituto Gabi está comemorando uma década de inclusão social de crianças e adolescentes com deficiência de baixa renda. Centenas de pessoas foram atendidas.
                                Atualmente, o Instituto Gabi é referência no atendimento à pessoas com deficiência. O poder público, a 
                            </p>
                        </div>
                        <div class="four columns news">
                            <div class="top trap-bg"></div>
                            <h4>Notícia 01</h4>
                            <p>
                                O Instituto Gabi está comemorando uma década de inclusão social de crianças e adolescentes com deficiência de baixa renda. Centenas de pessoas foram atendidas.
                                Atualmente, o Instituto Gabi é referência no atendimento à pessoas com deficiência. O poder público, a 
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row footer footer-bg">
                <div class="eleven columns centered">
                    <div class="twelve columns">
                        <div class="two columns">
                            <h4>Instituto Gabi</h4>
                            <ul>
                                <li>Quem somos</li>
                                <li>Atividades</li>
                                <li>Como Ajudar</li>
                                <li>Noticias</li>
                                <li>Fotos</li>
                                <li>Contato</li>
                            </ul>
                        </div>
                        <div class="four columns">
                            <h4>Parceiros</h4>
                            Parceiro 01
                            Gabi está comemorando uma década de inclusão social de crianças e
                        </div>
                        <div class="two columns">
                            <h4>Twitter</h4>
                            Último Tweet
                            “Gabi está comemorando uma década de inclusão social de crianças e
                        </div>
                        <div class="four columns">
                            <iframe src="https://www.facebook.com/plugins/facepile.php?href=https%3A%2F%2Fwww.facebook.com%2FInstitutoGabi&amp;action&amp;size=large&amp;max_rows=2&amp;width=300&amp;colorscheme=dark&amp;appId=120323441406882" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px;" allowTransparency="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- container -->

