<%= provide(:title, "Notícias") %>
  <ul class="nav nav-tabs">
    <li><%= link_to "Home", admin_root_path %></li>
    <li class="active">
      <%= link_to "Notícias", admin_posts_path %>
    </li>
  </ul>
  
  <div class="row">
    <div class="span8">
      <h2>Notícias Cadastradas</h2>

      <table class="table table-striped table-condensed">
        <col width="10%" />
        <col width="30%" />
        <col width="39%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <thead>
          <tr>
            <th>#</th>
            <th>Título</th>
            <th>Resumo</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>
          <% @posts.each do |post| %>
          <tr>
            <td><%= post.id %></td>
            <td><%= post.title %></td>
            <td><%= post.sumary %></td>
            <td><a href="<%= admin_post_path(post) %>" rel="tooltip" title="Visualizar"><i class="icon-eye-open"></i></a></td>
            <td><a href="<%= edit_admin_post_path(post) %>" rel="tooltip" title="Editar"><i class="icon-edit"></i></a></td>
            <td>
              <a href="<%= admin_post_path(post) %>" rel="tooltip" title="Excluir" data-confirm="Deseja realmente excluir este registro?" data-method="delete">
                <i class="icon-trash"></i>
              </a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="span4">
      <div class="form-actions">
        <a href="<%= new_admin_post_path %>" class="btn btn-small"><i class="icon-plus"></i>&nbsp;Nova notícia</a>
      </div>
    </div>
  </div>
