<%= provide(:title, "Usuários") %>  
  <div class="row">
    <div class="span8">
      <%= render 'form' %>
    </div>
    <div class="span4">
      <div class="form-actions">
        <a href="<%= admin_user_path(@user) %>" class="btn btn-small btn-danger" data-method="delete" rel="tooltip" title="Excluir"><i class="icon-trash icon-white"></i></a>
        <a href="<%= new_admin_user_path %>" class="btn btn-small" rel="tooltip" title="Novo"><i class="icon-plus"></i></a>
        <a href="<%= admin_users_path %>" class="btn btn-small" rel="tooltip" title="Lista"><i class="icon-list"></i></a>
      </div>
    </div>
  </div>
